In [2]:
# import dependancies
import pandas as pd

In [3]:
# read in csv
csv = pd.read_csv('Resources/Sale_Prices_City.csv')
sale_price_df = pd.DataFrame(csv)
sale_price_df.head()

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,6181,New York,New York,1,NaN,NaN,NaN,NaN,NaN,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,1,12447,Los Angeles,California,2,507600.0,489600.0,463000.0,453100.0,438100.0,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,2,39051,Houston,Texas,3,138400.0,135500.0,132200.0,131000.0,133400.0,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,3,17426,Chicago,Illinois,4,325100.0,314800.0,286900.0,274600.0,268500.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,4,6915,San Antonio,Texas,5,130900.0,131300.0,131200.0,131500.0,131600.0,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN

In [4]:
#find dtypes
sale_price_df.dtypes

Unnamed: 0      int64
RegionID        int64
RegionName     object
StateName      object
SizeRank        int64
               ...
2019-11       float64
2019-12       float64
2020-01       float64
2020-02       float64
2020-03       float64
Length: 150, dtype: object

In [12]:
# filter data by state
tn_sale_df= sale_price_df.loc[sale_price_df['StateName'].isin(['Tennessee'])]
tn_sale_df.head()

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
24,24,32811,Memphis,Tennessee,25,NaN,NaN,NaN,NaN,NaN,...,100700.0,102700.0,104200.0,103600.0,101900.0,102100.0,104800.0,104500.0,109900.0,NaN
28,28,6118,Nashville,Tennessee,29,148900.0,147200.0,146100.0,147600.0,147400.0,...,270900.0,270300.0,272300.0,274600.0,282700.0,283700.0,288000.0,288900.0,295500.0,296200.0
50,50,25428,Knoxville,Tennessee,51,137000.0,137700.0,139800.0,138000.0,134900.0,...,181400.0,179200.0,184000.0,185900.0,186300.0,185100.0,188100.0,193300.0,202800.0,NaN
159,159,37837,Chattanooga,Tennessee,160,107100.0,104600.0,108500.0,106000.0,107400.0,...,169900.0,172100.0,173100.0,171600.0,175500.0,179300.0,186200.0,186300.0,199100.0,NaN
161,161,19523,Murfreesboro,Tennessee,162,140000.0,142300.0,142000.0,138700.0,134800.0,...,251900.0,252200.0,252500.0,253800.0,255100.0,261900.0,267400.0,269500.0,261900.0,257900.0

In [14]:
#drop unneeded columns
tn_sale_df.drop(columns=['Unnamed: 0', 'RegionID', 'StateName', 'SizeRank'])

,RegionName,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
24,Memphis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100700.0,102700.0,104200.0,103600.0,101900.0,102100.0,104800.0,104500.0,109900.0,NaN
28,Nashville,148900.0,147200.0,146100.0,147600.0,147400.0,147400.0,143100.0,143000.0,139800.0,...,270900.0,270300.0,272300.0,274600.0,282700.0,283700.0,288000.0,288900.0,295500.0,296200.0
50,Knoxville,137000.0,137700.0,139800.0,138000.0,134900.0,134000.0,134500.0,132400.0,128700.0,...,181400.0,179200.0,184000.0,185900.0,186300.0,185100.0,188100.0,193300.0,202800.0,NaN
159,Chattanooga,107100.0,104600.0,108500.0,106000.0,107400.0,101000.0,106100.0,110100.0,113600.0,...,169900.0,172100.0,173100.0,171600.0,175500.0,179300.0,186200.0,186300.0,199100.0,NaN
161,Murfreesboro,140000.0,142300.0,142000.0,138700.0,134800.0,134000.0,136300.0,139200.0,144400.0,...,251900.0,252200.0,252500.0,253800.0,255100.0,261900.0,267400.0,269500.0,261900.0,257900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3537,Chapel Hill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,226500.0,231600.0,232700.0,210100.0,212100.0,216300.0,210100.0,211000.0,203400.0,246200.0
3544,Pigeon Forge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,228000.0,222900.0,237200.0,244300.0,247800.0,251700.0,258100.0,272600.0,280700.0,275300.0
3581,Medina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,194000.0,190700.0,187000.0,186100.0,177300.0,168500.0,168600.0,182500.0,194000.0,204700.0
3589,Millersville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,203300.0,207700.0,210700.0,215200.0,211700.0,235200.0,249800.0,276400.0,258600.0,273300.0
3677,Gatlinburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,202100.0,203700.0,207500.0,227000.0,231800.0,253800.0,253200.0,259300.0,264800.0,309400.0